* text=auto eol=lf

*.java text working-tree-encoding=UTF-8
*.xml text working-tree-encoding=UTF-8
*.fxml text working-tree-encoding=UTF-8
*.css text working-tree-encoding=UTF-8
*.properties text working-tree-encoding=UTF-8
*.sql text working-tree-encoding=UTF-8

*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
